<a href="https://colab.research.google.com/github/Aiswarya-raj-kr/python-basic/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a1=5
print(a1)

5

# New section

In [ ]:
print("HELLO WORLD")

HELLO WORLD

In [ ]:
print(4*20)

80

In [ ]:
"py"*5

'pypypypypy'

In [ ]:
"aiswarya"*6

'aiswaryaaiswaryaaiswaryaaiswaryaaiswaryaaiswarya'

In [ ]:
x=795
y=26
z=x*y
print(z)

20670

In [ ]:
payment_per_day=795
days_worked=26
total_salary=payment_per_day*days_worked
print(total_salary)m

20670

In [ ]:
x,y,z="apple","orange","banana"
print(x,y,z)

apple orange banana

In [ ]:
x="hello "
y="aiswarya"
var=x+y
print(var)

hello aiswarya

In [ ]:
x="hello "
y="aiswarya"
var=x+y
print(var)
print(type(var))

hello aiswarya
<class 'str'>

In [ ]:
x="12345"
y=54321
z=int(x)
print(z+y)

66666

# string

In [ ]:
x="array"
print(x[0])

a

In [ ]:
x="character"
print(len(x))

9

In [ ]:
a="the above output is true"
print("above" in a)

True

In [ ]:
a="the above output is true"
print("orange" in a)

False

In [ ]:
voice="this is an automated voice by siri"
print("hello"not in voice)

True

In [ ]:
xyz="hey my name is python"
print(xyz[2:10])

y my nam

In [ ]:
y="hello python"
print(y[1:])

ello python

In [ ]:
y="aiswarya"
print(y[-6:-1])

swary

In [ ]:
word="hello python"
print(word.upper())

HELLO PYTHON

In [ ]:
word="heLlo pYthon"
print(word.lower())

hello python

In [ ]:
A="Hello,  world"
print(a.strip())

Hello,world!

In [ ]:
a="hello "
b="python"
print(a+b)

hello python

In [ ]:
a="Hello, world!"
print(a.replace("H","J"))

Jello, world!

In [ ]:
a="Hello world!"
print(a.split(" "))

['Hello', 'world!']

In [ ]:
a="Hello,world!"
print(a.split(","))

['Hello', 'world!']

In [ ]:
a=5
a=a+5
print(a)

10

## format

In [ ]:
age=38
txt="my name is joseph,and i am {}"
print(txt.format(age))

my name is joseph,and i am 38

In [ ]:
amount=1234
oderno=4321
quality=10
myorder="i want {} of my order {} for {}"
print(myorder.format(quality,oderno,amount))

i want 10 of my order 4321 for 1234

In [ ]:
txt="to insert characters that are \" illegal\" in a string"
print(txt)

to insert characters that are " illegal" in a string

In [ ]:
txt="to insert characters that are \' illegal\' in a string"
print(txt)

to insert characters that are ' illegal' in a string

In [ ]:
txt="to insert characters that are \r illegal\r in a string"
print(txt)

 in a string

# boolean

In [ ]:
print(10==10)

True

In [ ]:
print(10<9)

False

In [ ]:
print(10==100)

False

In [ ]:
print(bool("asffg"))

True

In [ ]:
print(bool(0))

False

In [ ]:
x=200
print(isinstance(x,float))

False

# operator

## arithmetic oprators

In [ ]:
x=4
y=2
print(x+y)

6

In [ ]:
x=4
y=2
print(x*y)

8

In [ ]:
x=4
y=2
print(x/y)

2.0

In [ ]:
x=4
y=2
print(x//y)

2

In [ ]:
x=4
y=2
print(x%y)

0

In [ ]:
x=9
y=2
print(x%y)

1

In [ ]:
x=5
x

1

In [ ]:
x=5
x+=5
x

10

In [ ]:
x=5
x-=5
x

0

In [ ]:
x=5
x*=5
x

25

In [ ]:
x=5
x/=5
x

1.0

In [ ]:
x=8
x//=5
x

1

In [ ]:
x=5
x%=5
x

0

In [ ]:
x=11
x&=5
x

1

In [ ]:
x=3
x|=5
x

7

In [ ]:
x=7
x>>=5
x

0

## boolean oprators

In [ ]:
x=5;y=6
x>1 and y<10 #checking for and operation

True

In [ ]:
x=5;y=6
x>1 or y<10 #checking or operation

True

In [ ]:
x=5
not x>2 # checking not operation

False

## identity operators

In [ ]:
x=5;y=6
x is y # is opration

False

In [ ]:
x=6
y=10
x is not y # is not operation

True

# Lists

In [ ]:
fruits=["apple","orange","banana","blueberry"]
print(fruits)

['apple', 'orange', 'banana', 'blueberry']

In [ ]:
fruits=["apple","orange","banana","blueberry","grapes","cherry"]
print(fruits[1:5])# range

['orange', 'banana', 'blueberry', 'grapes']

In [ ]:
fruits=["apple","orange","banana","blueberry","grapes","cherry"]
print(fruits[:5])# range

['apple', 'orange', 'banana', 'blueberry', 'grapes']

In [ ]:
fruits=["apple","orange","banana","blueberry","grapes","cherry"]
print(fruits[1:])# range

['orange', 'banana', 'blueberry', 'grapes', 'cherry']

In [ ]:
fruits=["apple","orange","banana","blueberry","grapes","cherry"]
print(fruits[:-5])# range

['apple']

In [ ]:
fruits=["apple","orange","banana","blueberry","grapes","cherry"]
fruits[1]="strawberry"
print(fruits)

['apple', 'strawberry', 'banana', 'blueberry', 'grapes', 'cherry']

In [ ]:
fruits=["apple","orange","banana","blueberry","grapes","cherry"]
fruits[2:3]=["peach","dragon fruit"]
print(fruits)

['apple', 'orange', 'peach', 'dragon fruit', 'blueberry', 'grapes', 'cherry']

In [ ]:
fruits=["apple","orange","banana","blueberry","grapes","cherry"]
fruits[2:]=["watermelon","kiwi"]
print(fruits)

['apple', 'orange', 'watermelon', 'kiwi']

In [ ]:
fruits=["apple","orange","banana","blueberry","grapes","cherry"]
fruits.append("orange")
print(fruits)

['apple', 'orange', 'banana', 'blueberry', 'grapes', 'cherry', 'orange']

In [ ]:
fruits=["apple","banana","cherry"]
fruits2=["strawberry","blueberry","pineapple"]
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'cherry', 'strawberry', 'blueberry', 'pineapple']

In [ ]:
fruits=["apple","strawberry","cherry"]
fruits.remove("apple")
print(fruits)

['strawberry', 'cherry']

In [ ]:
fruits=["apple","strawberry","cherry"]
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [ ]:
fruits=["apple","strawberry","cherry"]
del fruits[2]
print(fruits)

['apple', 'strawberry']

In [ ]:
fruits=["apple","strawberry","cherry"]
del fruits
print (fruits)

NameError: name 'fruits' is not defined

In [ ]:
fruits=["apple","strawberry","cherry"]
fruits.clear()
print(fruits)

[]

In [ ]:
fruits=["apple","strawberry","cherry"]
fruit=fruits.copy()
print(fruit)

['apple', 'strawberry', 'cherry']

In [ ]:
fruits=["apple","strawberry","cherry"]
fruits.reverse()
print(fruits)

['cherry', 'strawberry', 'apple']

In [ ]:
fruits=["apple","strawberry","cherry"]
fruits.sort()
print(fruits)

['apple', 'cherry', 'strawberry']

In [ ]:
fruits=["apple","strawberry","cherry"]
fruits.clear()
print(fruits)

[]

# Tuples

In [ ]:
fruits=("apple","strawberry","cherry")

print(fruits)

('apple', 'strawberry', 'cherry')

In [ ]:
fruits=("apple","strawberry","cherry")
print(len(fruits))

3

In [ ]:
variety=("abc",34,"TRUE",40,"male")
print(type(fruits))

<class 'tuple'>

In [ ]:
fruits=("apple","strawberry","cherry")

print(fruits[-1])

cherry

In [ ]:
fruits=("apple","strawberry","cherry","kiwi","melon")

print(fruits[2:])

('cherry', 'kiwi', 'melon')

In [ ]:
x=("apple","strawberry","cherry")
y=list(x)
y[1]="watermelon"
x=tuple(y)
print(x)

('apple', 'watermelon', 'cherry')

In [ ]:
x=("apple","strawberry","cherry")
(green,yellow,red)=x
print(green)
print(yellow)
print(red)

apple
strawberry
cherry

# Set

In [ ]:
fruits={"apple","banana","cherry"}
for x in fruits:
 print (x)

banana
cherry
apple

In [ ]:
fruits={"apple","banana","cherry"}
fruits.add("orange")
print(fruits)

{'banana', 'orange', 'cherry', 'apple'}

In [ ]:
fruits={"apple","banana","cherry"}
mylist=["kiwi","strawberry"]
fruits.update(mylist)
print(fruits)

{'banana', 'cherry', 'apple', 'kiwi', 'strawberry'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.remove("apple")
print(fruits)

{'banana', 'cherry'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.discard("cherry")
print(fruits)

{'banana', 'apple'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.clear()
print(fruits)

set()

In [ ]:
fruits={"apple","banana","cherry"}
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [ ]:
fruits={"apple","banana","cherry"}
x=fruits.pop()
print(x)
print(fruits)

banana
{'cherry', 'apple'}

In [ ]:
s1={"a","b","c"}
s2={1,2,3}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 'c', 'b', 'a'}

In [ ]:
s1={"a","b","c"}
s2={1,2,3}
s1.update(s2)
print(s1)

{1, 2, 3, 'c', 'b', 'a'}

In [ ]:
s1={"a","b","c"}
s2={1,2,3}
s1.update(s2)
print(s3)

None

In [ ]:
x={"apple","orange","banana"}
y={"google","microsoft","apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
x={"apple","orange","banana"}
y={"google","microsoft","apple"}
z=x.intersection(y)
print(z)

{'apple'}

In [ ]:
x={"apple","orange","banana"}
y={"google","microsoft","apple"}
x.add("hi")
print(x)

{'hi', 'banana', 'orange', 'apple'}

In [ ]:
x={"apple","orange","banana"}
y={"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x)

{'orange', 'banana', 'google', 'microsoft'}

In [ ]:
x={"apple","orange","banana"}
y={"google","microsoft","apple"}
z=x.symmetric_difference(y)
print(z)

{'orange', 'banana', 'google', 'microsoft'}

In [ ]:
x={"apple","orange","banana"}
x.clear()
print(x)

set()

In [ ]:
x={"apple","orange","banana"}
y={"google","microsoft","apple"}
x.copy()
print(x)

{'banana', 'orange', 'apple'}

In [ ]:
num = 456  # You can change this number to test
num_str = str(num)
reversed_str = num_str[len(num_str)::-1] # Use explicit start and step for reversing

if num_str == reversed_str:
  print(f"{num} is a palindrome")
else:
  print(f"{num} is not a palindrome")

456 is not a palindrome

In [ ]:
x={"apple","orange","banana"}
y={"google","microsoft","apple"}
x.difference_update(y)
print(x)

{'banana', 'orange'}

In [ ]:
x={"apple","orange","banana"}
y={"google","microsoft","apple"}
x.discard("apple")
print(x)

{'banana', 'orange'}

In [ ]:
x={"apple","orange","banana"}
y={"google","microsoft","apple"}
z=x.isdisjoint(y)
print(z)

False

In [ ]:
x={"apple","orange","banana"}
y={"google","microsoft","apple"}
z=x.issubset(y)
print(z)

False

In [ ]:
x={"apple","orange","banana"}
y={"google","microsoft","apple"}
z=x.issuperset(y)
print(z)

False

In [ ]:
x={"apple","orange","banana"}
y={"google","microsoft","apple"}
z=x.symmetric_difference(y)
print(z)

{'orange', 'banana', 'google', 'microsoft'}

In [ ]:
x={"apple","orange","banana"}
x.pop()
print(x)

{'orange', 'apple'}

In [ ]:
x={"apple","orange","banana"}
x.remove("apple")
print(x)

{'banana', 'orange'}

# frozenset

In [ ]:
nu=(1,2,3,4,5,6,7,8,9)
fnum=frozenset(nu)
print("frozenset Oject is :",fnum)

frozenset Oject is : frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

# Dictionaries

In [ ]:
cars={
    "brand" : "BNW",
    "model" : "2nd series",
    "year"  : 2004
}
print(cars)

{'brand': 'BNW', 'model': '2nd series', 'year': 2004}

In [ ]:
cars={
    "brand" : "BNW",
    "model" : "2nd series",
    "year"  : 2004
}
x=cars.get("model")
print(x)

2nd series

In [ ]:
cars={
    "brand" : "BNW",
    "model" : "2nd series",
    "year"  : 2004
}
x=cars.values()
print(x)
cars["year"]=2000
print(x)

dict_values(['BNW', '2nd series', 2004])
dict_values(['BNW', '2nd series', 2000])

In [ ]:
cars={
    "brand" : "BNW",
    "model" : "2nd series",
    "year"  : 2004
}
x=cars.values()
print(x)
cars["color"]="red"
print(x)

dict_values(['BNW', '2nd series', 2004])
dict_values(['BNW', '2nd series', 2004, 'red'])

In [ ]:
cars={
    "brand" : "BNW",
    "model" : "2nd series",
    "year"  : 2004
}
x=cars.items()
print(x)

dict_items([('brand', 'BNW'), ('model', '2nd series'), ('year', 2004)])

In [ ]:
cars={
    "brand" : "BNW",
    "model" : "2nd series",
    "year"  : 2004
}
cars["year"]=2020
print(cars)

{'brand': 'BNW', 'model': '2nd series', 'year': 2020}

In [ ]:
cars={
    "brand" : "BNW",
    "model" : "2nd series",
    "year"  : 2004
}
cars.update({"year":2020})
print(cars)

{'brand': 'BNW', 'model': '2nd series', 'year': 2020}

In [ ]:
cars={
    "brand":"ford",
    "model":"mustang"
}
cars.pop('model')
print(cars)

{'brand': 'ford'}

In [ ]:
car={
    "brand":"ford",
    "model":"mustang"
}
del car["model"]
print(car)

{'brand': 'ford'}

In [ ]:
car={
    "brand":"ford",
    "model":"mustang"
}
car.clear()
print(car)

{}

In [ ]:
car={
    "brand":"ford",
    "model":"mustang"
}
car=car.copy()
print(car)

{'brand': 'ford', 'model': 'mustang'}

In [ ]:
car={
    "brand":"ford",
    "model":"mustang"
}
car=dict(car)
print(car)

{'brand': 'ford', 'model': 'mustang'}

In [ ]:
friends={
    "child1" :{
        "name":"arun",
        "year":2000
    },
    "child2" :{
        "name":"arun",
        "year":"2001"
    },
     "child3":{
         "name":"arya",
         "year":2018
     }
}
print(friends)

{'child1': {'name': 'arun', 'year': 2000}, 'child2': {'name': 'arun', 'year': '2001'}, 'child3': {'name': 'arya', 'year': 2018}}

In [ ]:

child1={
        "name":"arun",
        "year":2000
    }


child2={
        "name":"arun",
        "year":"2001"
    }

child3={
         "name":"arya",
         "year":2018
     }




friends={
    "child1": child1 ,
     "child2": child2 ,
    "child3":child3
}
friends

{'child1': {'name': 'arun', 'year': 2000},
 'child2': {'name': 'arun', 'year': '2001'},
 'child3': {'name': 'arya', 'year': 2018}}

# if

In [ ]:
a=33
b=200
if b>a:
  print("b is greater than a")

b is greater than a

In [ ]:
a=33
b=200
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")

b is greater than a

In [ ]:
a=33
b=200
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is greater than a

In [ ]:
a=200
b=200
print("a")if a>b else print("=")if a==b else print("b")

=

In [ ]:
a=200
b=33
c=500
if a>b and c>a:
  print("both conditions are true")

both conditions are true

In [ ]:
a=200
b=33
c=500
if a>b or c>a:
  print("atleast one is true")

atleast one is true

In [ ]:
x=41
if x>10:
   print("above ten,")
   if x>20:
    print("and also above 20!")
else:
  print("but not above 20")

above ten,
and also above 20!

In [ ]:
a=33
b=200
if b>a:
  pass

# while

In [ ]:
a=["a","b","c"]
i=0
while a:
  print(a.pop())

c
b
a

In [ ]:
a=[1,2,3,4,5,6]
while a:
  print(a.pop())

6
5
4
3
2
1

In [ ]:
i=0
while i<4:
  i+=1
  print(i)
  continue

1
2
3
4

In [ ]:

i=0
while i<4:
  i+=1
  print(i)
  break

1

In [ ]:
i=0
while i<4:
  i+=1
  print(i)
  pass

1
2
3
4

In [ ]:
a='loop in python'
i=0
while i < len(a):
  i+=1
  pass
print("value of i:",i)

value of i: 14

In [ ]:
i=0
a="loops in python"
while i<len(a):
  if a[i]=='e' or a[i]=='s':
    i+=1
    continue
  print('current letter:',a[i])
  i+=1

current letter: l
current letter: o
current letter: o
current letter: p
current letter:
current letter: i
current letter: n
current letter:
current letter: p
current letter: y
current letter: t
current letter: h
current letter: o
current letter: n

In [ ]:
i=0
a="loops in python"
while i<len(a):
  if a[i]=='e' or a[i]=='s':
    i+=1
    break
  print('current letter:',a[i])
  i+=1

current letter: l
current letter: o
current letter: o
current letter: p

##while-else

In [ ]:
i=0
while i<4:
  i+=2
  print(i)

else:
   print("no break")

2
4
no break

In [ ]:
for i in range(10,110,10):
  if i==50:
    continue
  elif i==70:
    break
  elif i==60:
    pass
  else:
    print(i)

10
20
30
40

In [ ]:
s=["for","hello"]
for i in s:
  print(i)

for
hello

In [ ]:
print("dictionary iterations")
d=dict()
d['xyz']=123
d['abc']=345
for i in d:
  print("%s %d" %(i,d[i]))

dictionary iterations
xyz 123
abc 345

In [ ]:
for x in 'python developer':
  if x=='e' or x=='o':
    pass
  print(x)
print("current letter:",x)

p
y
t
h
o
n

d
e
v
e
l
o
p
e
r
current letter: r

In [ ]:
for i in range(10):
  print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
l=[10,20,30,40]
for i in range(len(l)):
  print(l[i],end=" ")
print()

10 20 30 40

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i
print("sum of first 10 natural num:",sum)

sum of first 10 natural num: 55

In [ ]:
for i in range(1,4):
  print(i)
else:
  print("no break")

1
2
3
no break

In [ ]:
for i in range(1,4):
  print(i)
  break
else:
  print("no break")

1

In [ ]:
color=["red","yellow","green"]
fruits=["apple","banana","grapes"]
for x in color:
  for y in fruits:
    print(x,y)

red apple
red banana
red grapes
yellow apple
yellow banana
yellow grapes
green apple
green banana
green grapes

## **Python functions**

type of functions
1.Buildin function .eg print(),type(),list(),int(),range()
2.User define function

In [ ]:
def myfun_name():
  print("Print function inside a function")

In [ ]:
myfun_name()

Print function inside a function

### **arguments**

In [ ]:
def calc(x,y=5):
  print(x+y)

In [ ]:
a=2
b=3
calc(a,b)

5

In [ ]:
def list_cre(*n):
  for i in n:
    print(i)

In [ ]:
list_cre(1,2,3,4,5)

1
2
3
4
5

In [ ]:
def dict_cre(**n):
  for k,v in n.items():
    print(k,":",v)
  for k in n.keys():
    print(k)
  for V in n.values():
    print(V)
dict_cre(a="an",b="bn",c="cn")

a : an
b : bn
c : cn
a
b
c
an
bn
cn

In [ ]:
def hello():
  print("welcome")

In [ ]:
hello()

welcome

In [ ]:
def even_odd(x):
  if x%2==0:
    print("even")
  else:
    print("odd")

even_odd(3)

odd

In [ ]:
def myfun(x,y=5):
  print("x:",x)
  print("y:",y)
myfun(10)

x: 10
y: 5

In [ ]:
def student(firstname,lastname):
  print(firstname,lastname)
student(aiswarya,functions)

NameError: name 'aiswarya' is not defined

In [ ]:
def my_function(*kids):
  print("the youngest child is"+kids[2])
my_function("emil","tobias","linus")

the youngest child islinus

In [ ]:
def myfunction(*argv):
  for x in argv:
    print(x)
myfunction('hello','welcome','to','ipcs')

hello
welcome
to
ipcs

In [ ]:
def my_function(**student):
  print("His firstname is :"+ student["fname"])
my_function(fname="vignesh",lname="k")

His firstname is :vignesh

In [ ]:
def my_fun(**kwargs):
  for key,value in kwargs.items():
    print("%s==%s" %(key,value))
my_fun(first='welcome',mid='for',last='course')

first==welcome
mid==for
last==course

In [ ]:
def my_function(country="Norway"):
 print("I am from:"+ country)
my_function("sweden")
my_function("india")
my_function()
my_function("brazil")

I am from:sweden
I am from:india
I am from:Norway
I am from:brazil

In [ ]:
def my_fub(xyz):
  for x in xyz:
    print(x)

fruits=["apple","banana","orange"]
my_fub(fruits)

apple
banana
orange

In [ ]:
def sq_val(num):
  return num**2
print(sq_val(2))
print(sq_val(9))

4
81

In [ ]:
def my_function(x):
  x[0]=39
lst=[1,33,45,56,67]
my_function(lst)
print(lst)

[39, 33, 45, 56, 67]

In [ ]:
def f1():
  s="i love python"
  def f2():
    print(s)
  f2()
f1()

i love python

In [ ]:
def cube(y):
  return y*y*y;

g=lambda x:x*x*x
print(g(7))
print(cube(5))

343
125

In [ ]:
def power(n):
  return lambda a:a**n
base=power(2)
print("now power is set to 2")
print("6 power of 2=",base(6))

base=power(5)
print("now power is set to 5")
print("8 power of 5=",base(8))

now power is set to 2
6 power of 2= 36
now power is set to 5
8 power of 5= 32768

prime number

In [ ]:
num=int(input("Enter a number: "))
if num>1:
  for i in range(2,num):
    if(num%i==0):
      print("its not a prime number")
      break
  else:
      print("prime number")

Enter a number: 9
its not a prime number

to find the largest word

In [ ]:
x="hy my name is aiswarya"
largest=""
n=x.split()
for i in n:
  if len(i)>len(largest):
    largest=i
print(largest)

aiswarya

## global and local variables

In [ ]:
def myfunction():
  print(s)
s="i love python"
myfunction()

i love python

In [ ]:
def myfunction():
  print(s)

s="i love python"
myfunction()

i love python

In [ ]:
s="i love python"
def myfunction():
  print(s)

myfunction()

i love python

In [ ]:
def func():
 x="me too"
 print(x)
s="i love python"
func()
print(s)

me too
i love python

In [ ]:
a=1
def f():
  print('inside f():',a)
def g():
  a=2
  print('inside g():',a)
def h():
  global a
  a=3
  print('inside h():',a)


print('global:',a)
f()
print('global',a)
g()
print('global',a)
h()
print('global',a)

global: 1
inside f(): 1
global 1
inside g(): 2
global 1
inside h(): 3
global 3

In [ ]:
def shout(text):
  return text.upper()
print (shout('hello'))
yell=shout
print(yell('hello'))

HELLO
HELLO

In [ ]:
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()

def greet(func):
  greeting=func("""Hi, i am created by a function
                 passed as an argument.""")
  print(greeting)


greet(shout)
greet(whisper)

HI, I AM CREATED BY A FUNCTION
                 PASSED AS AN ARGUMENT.
hi, i am created by a function
                 passed as an argument.

In [ ]:
def create_adder(x):
  def adder(y):
    return x+y
  return adder
add_15= create_adder(15)
print(add_15(10))

25

In [ ]:
def calc_factorial(x):
  if x==1:
    return 1
  else:
    return(x * calc_factorial(x-1))
num=4
print("the factorial of",num,"is",calc_factorial(num))

the factorial of 4 is 24

In [ ]:
x=int(input("Enter a number: "))
y=int(input("Enter a number: "))
def add():
  return x+y
def subtract():
    return x-y
def multiplication():
    return x*y
def division():
    return x/y


add()
subtract()
multiplication()
division()

Enter a number: 4
Enter a number: 7

0.5714285714285714

## questions

In [ ]:
def myfunc(x):
  factorial=1
  for i in range(1, x+1):
     factorial = factorial * i
  print("The factorial is", factorial)
myfunc(4)

The factorial is 24

In [ ]:
def longest_word():
 x="hy my name is aiswarya"
 largest=""
 n=x.split()
 for i in n:
  if len(i)>len(largest):
    largest=i
longest_word()
print(largest)

aiswarya

# CLASS AND OBJECTS

In [ ]:
class Phone:
  def make_call(self): #method
    print("let's make a phone call")
  def play_game(self): #method
    print("lets play a game")

In [ ]:
p1=Phone()#creating object
p1.make_call()

let's make a phone call

In [ ]:
p1.play_game()

lets play a game

In [ ]:

class Phone(): #craeting a class named  phone
  def make_call(self):#fuction making  always use self as parameter
    print("let's make a call")
  def play_game(self):
    print("let's play a game")

  def set_colar(self,color):#adding new parameters and creating new function
    self.color=color

  def set_cost(self,cost):
    self.cost=cost

  def show_color(self):
    return self.color
  def show_cost(self):
    return self.cost

In [ ]:
iphone=Phone()
iphone.set_colar('green')
iphone.set_cost(100000)

In [ ]:
iphone.show_color()

'green'

In [ ]:
iphone.show_cost()

100000

## __init__  method

In [ ]:
class Employee:
  def __init__(self,name,age,salary,gender):#init method is a constructor
    self.name=name
    self.age=age
    self.salary=salary
    self.gender=gender

  def employee_details(self):
    print("Name of employee is",self.name)
    print("Age of employee is",self.age)
    print("salary of employee is",self.salary)
    print("Gender of the employee is",self.gender)

In [ ]:
e1=Employee("Sara",21,16000,"female")

In [ ]:
e1.employee_details()

Name of employee is Sara
Age of employee is 21
salary of employee is 16000
Gender of the employee is female

## class attributes

In [ ]:
class student:
  school ="abc school"
  def __init__(self,name,age,roll_number):
    self.name=name
    self.age=age
    self.roll_number=roll_number

  def details(self):
     print(f"{self.name} is : {self.age} year old and studying at :{self.school} and roll number is : {self.roll_number}")

student1=student("Neha",21,3)
student2=student("Rehan",20,7)
print(student1.school)

student.school="Learn Logic AI"
student1.details()

abc school
Neha is : 21 year old and studying at :Learn Logic AI and roll number is : 3

## del operator

In [ ]:
class student:
  school = "abc school"
  def __init__(self,name,age,roll_number):
    self.name = name
    self.age = age
    self.roll_number = roll_number

  def details(self):
    print(f"{self.name} is : {self.age} year old and studying at :{self.school} and roll number is : {self.roll_number}")

student1= student("Anshif",21,3)
student2= student("Sinan",20,7)
print(student1.school)
# del student1.name

print(student1.name)

abc school
Anshif

## python build in class function

In [ ]:
class student:
  school="abc school"
  def __init__(self,name,age,rollnumber):
    self.name=name
    self.age=age
    self.rollnumber=rollnumber
  def details(self):
    print(f"{self.name} is : {self.age} year old and studying at :{self.school} and rollnumber is : {self.rollnumber}")
    student1=student("Neha",21,3)
    student2=student("Anvi",20,7)
print(getattr(student1,"name"))
setattr(student1,"age",23)
print(student1.age)
print(hasattr(student1,"id"))
delattr(student1,"age")

Neha
23
False

## single inheritance

In [ ]:
class Animal: # parent class
  def speak(self):
    print("Animal speaking")

  class Dog(Animal):#child class
    def bark(self):
      print("Dog barking")

  d=Dog()
  d.bark()
  d.speak()# we can call class methoh through child class

  a=Animal()
  a.speak()

Dog barking
Animal speaking
Animal speaking

In [ ]:
class vehicle:
  def start(self):
    print("vehicle is starting...")
  def stop(self):
    print("vehicle is stopping...")
class car(vehicle):
  def drive(self):
    print("car is being driven")
c=car()
c.start()
c.drive()
c.stop()

vehicle is starting...
car is being driven
vehicle is stopping...

In [ ]:
class Phone:
  def call(self):
    print("a phone call is being made")
  def message(self):
    print("message has been send")

class iphone(Phone):
  def photo(self):
    print("photo has been taken")

a=iphone()
a.call()
a.message()
a.photo()

a phone call is being made
message has been send
photo has been taken

## Multilevel Inheritence

In [ ]:
class Animal():#parent class
  def speak(self):
    print("Animal speaking...")

class Dog(Animal):
  def bark(self):
    print("dog barking....")

class Dogchild(Dog):
  def eat(self):
    print("dog eating")

d=Dog()
d.speak()
d.bark()

print()
d1=Dogchild()
d1.speak()
d1.bark()
d1.eat()

Animal speaking...
dog barking....

Animal speaking...
dog barking....
dog eating

In [ ]:
class vehilce:
  def start(self):
    print("vehicle is starting")


class car(vehicle):
  def stop(self):
    print("car is stopping")

class ford(car):
  def run(self):
    print("car is running")

c=car()
c.start()
c.stop()
print()
c1=ford()
c1.start()
c1.stop()
c1.run()

vehicle is starting...
car is stopping

vehicle is starting...
car is stopping
car is running

## Hierarchical inheritance

In [ ]:
class shape: # parent class
  def info(self):
    print("shape has dimensions")

class circle(shape): #child class
  def draw(self):
    print("drawing a circle...")

class rectangle(shape):# chid class
  def edge(self):
    print("rectangle has four edges")

s=circle()
s.info()
s.draw()

print()

s1=rectangle()
s1.info()
s1.edge()

shape has dimensions
drawing a circle...

shape has dimensions
rectangle has four edges

In [ ]:
class person:#parent class
  def introduce(self):
    print("I am ________")

class teacher(person):#child class
  def teach(self):
    print(" i teach students")

class student(person):#child class
  def study(self):
    print("i study subjects")

t=teacher()
t.introduce()
t.teach()

print()


s=student()
s.introduce()
s.study()

I am ________
 i teach students

I am ________
i study subjects

In [ ]:
class device:
  def introduce(self):
    print("i'm an electronic device")

class oven(device):
  def bake(self):
    print("i bake cakes")

class ironbox(device):
  def iron(self):
    print("cloths are ironed  by me")

o=oven()
o.introduce()
o.bake()

print()

i=ironbox()
i.introduce()
i.iron()

i'm an electronic device
i bake cakes

i'm an electronic device
cloths are ironed  by me

## Multiple inheritance

In [ ]:
class calculation1: #parent class
  def sum(self,a,b):
    print(a+b)

class calculation2: # another parent class
  def multiplication(self,a,b):
    print(a*b)


class derived(calculation1,calculation2):
  def division(self,a,b):
    print(a/b)

d=derived()
d.sum(10,20)
d.multiplication(40,10)
d.division(10,2)

30
400
5.0

In [ ]:
class circle:
  def shape(self):
    print("i'm round in shape ")

class square:
  def edge(self):
    print("i have four sides with same length")

class shape(circle,square):
  def info(self):
    print(" i have different dimensions")

s=shape()
s.shape()
s.edge()
s.info()

i'm round in shape
i have four sides with same length
 i have different dimensions

## Hybrid inheritance

In [ ]:
class person:
  def introduce(self):
    print("i'm ___________")

class teacher(person):
  def teach(self):
    print(" i teach students")

class student:
  def study(self):
    print("i study subjects")

class principal(teacher,student):
  def manage(self):
    print("i oversee the entire school")


p=principal()
p.introduce()
p.teach()
p.study()
p.manage()

i'm ___________
 i teach students
i study subjects
i oversee the entire school

In [ ]:
class orange:
  def color(self):
    print("i'm orange in color")

class apple(orange):
  def juice(self):
    print("i can be made in juice")

class grape:
  def wine(self):
    print("i can be made into wine")

class fruits(apple,grape):
  def snack(self):
    print("i can be eaten as a snack")

f=fruits()
f.color()
f.juice()
f.wine()
f.snack()

i'm orange in color
i can be made in juice
i can be made into wine
i can be eaten as a snack

## super() method

In [ ]:
class parent:
  def greet1(self):
    print("hello from parent...")

class child(parent):
  def greet2(self):
    super().greet1() # calling parent method
    print("hello froom child")

c=child()
c.greet2()

hello from parent...
hello froom child

In [ ]:
class parent:
  def __init__(self,name):
    self.name=name
    print("parent constructor called")

class child(parent):
  def __init__(self,name,age):
    super().__init__(name)
    self.age = age
    print("child constructor is called....")
c=child("aiswarya",21)

parent constructor called
child constructor is called....

In [ ]:
class phone:
  def mob1(self):
    print("i'm an electronic device...")

class iphone(phone):
  def mob2(self):
    super().mob1() # calling parent method
    print("I can take good quality photos")

c=iphone()
c.mob2()

i'm an electronic device...
I can take good quality photos

#  Basic Inheritance Questions

 Write a base class Person with attributes name and age, and a method display_info(). Create a derived class Student that adds student_id and a method display_student()

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def display_info(self):
    print(f"Name: {self.name}")
    print(f" Age: {self.age}")
class Student(Person):
  def __init__(self, name, age, student_id):
    Person.__init__(self, name, age)
    self.student_id = student_id

  def display_student(self):
    self.display_info()
    print(f"Student ID: {self.student_id}")


student1 = Student("Alice", 20, "S12345")
student1.display_student()

Name: Alice
 Age: 20
Student ID: S12345

 Create a base class Shape that stores a color. Derive a class Rectangle with width and height, add an area() method, and override __str__() so print(rect) yields something like Rectangle(blue, 58)

In [ ]:
class Shape:
    def __init__(self, color):
        self.color = color

class Rectangle(Shape):
    def __init__(self, color, h, w):
        Shape.__init__(self, color)
        self.h=h
        self.w =w

    def area(self):
        print(self.h * self.w)

    def info(self):
        print(f"Rectangle of color {self.color}, width {self.w}, height {self.h}")

rect = Rectangle("orange", 5, 8)
rect.info()
print("Area:")
rect.area()

Rectangle of color orange, width 8, height 5
Area:
40

Give Animal an eat() method, Mammal an extra give_birth() method, and Dog an extra bark(). Show that a Dog can call all three methods.

In [ ]:
class Animal:
  def eat(self):
    print("animal is eating.....")

class Mammal(Animal):
  def give_birth(self):
    print("mammals can give birth....")

class Dog(Mammal):
  def bark(self):
    print("dogs are barking")

d=Dog()
d.eat()
d.give_birth()
d.bark()

animal is eating.....
mammals can give birth....
dogs are barking

 Store a shapes center (x, y) in Shape. Circle adds radius; Square adds side. Write a small script that constructs one of each and prints their perimeters.

In [ ]:
class Shape:
    def __init__(self, x, y):
        self.x = x
        self.y = y
class Circle(Shape):
    def __init__(self, x, y, radius):
        Shape.__init__(self, x, y)
        self.radius = radius
    def perimeter(self):
        return 2 * 3.14 * self.radius
class Square(Shape):
    def __init__(self, x, y, side):
        Shape.__init__(self, x, y)
        self.side = side
    def perimeter(self):
        return 4 * self.side


circle = Circle(0, 0, 5)
square = Square(1, 1, 10)

print(f"Perimeter of the Circle: {circle.perimeter()}")
print(f"Perimeter of the Square: {square.perimeter()}")

Perimeter of the Circle: 31.400000000000002
Perimeter of the Square: 40

 Make a base class Vehicle with a class attribute wheels = 0. In subclasses Bicycle, Car, and Truck, override wheels appropriately. Show that changing Vehicle.wheels after creation does not affect existing subclass values.

In [ ]:
class vehicle:
  wheels=0

class bicycle(vehicle):
  wheels=2
class car(vehicle):
  wheels=4
class truck(vehicle):
  wheels=6

b=bicycle()
b.wheels
c=car()
c.wheels
t=truck()
t.wheels

6

# polymorphism

## method overriding

In [ ]:
class a:
  def show(self):
    print("class a")
class b(a):
  def show(self):
    print("class b")
class c(b):
  def show(self):
    print("class c")

obj=c()
obj.show()# mathod overriding

class c

In [ ]:
class A:
  def show(self):
    print("class A")

class B(A):
  def show(self):
    super().show()
    print("class B")

class C(B):
  def show(self):
    super().show()
    print("class C")
obj=C()
obj.show()

class A
class B
class C

In [ ]:
class animal:
  def speak(self):
    print("animal is making sound")

class dog(animal):
  def speak(self):
    print("dog barks...")

class cat(animal):
  def speak(self):
    print("cat meows...")

dog=dog()
dog.speak()

cat=cat()
cat.speak()

dog barks...
cat meows...

In [ ]:
class phone:
  def info(self):
    print("used for calling...etc")
class iphone(phone):
  def info(self):
    print("used for taking pictures")
class samsung(phone):
  def info(self):
    print("location of the company is south korea")

i=iphone()
i.info()

s=samsung()
s.info()

used for taking pictures
location of the company is south korea

In [ ]:
class A:
  def introduce(self):
    print("I'm the student of class A")

class B(A):
  def introduce(self):
    super().introduce()
    print("I'm the student of class B")

class C(B):
  def introduce(self):
    super().introduce()
    print("I'm the student ofClass C")

obj= C()
obj.introduce()

I'm the student of class A
I'm the student of class B
I'm the student ofClass C

## method  overloading

In [ ]:
class calculator:
  def add(self,a,b=0,c=0):
    print(a+b+c)
calc=calculator()

#call the numbers with differnt numbers of arguments

calc.add(5)
calc.add(5,10)
calc.add(5,10,15)

5
15
30

In [ ]:
# positional arguments (*args)

class math:
  def add(self,*numbers):
    total=sum(numbers)
    print(f"sum :{total}")

m=math()
m.add(5)
m.add( 5,10,10)

sum :5
sum :25

In [ ]:
class greeting:
  def say_hello(self,**kwargs):
    print(f"Hello {kwargs['name']}!")
    print(f"you are {kwargs['age']}years old!")
    print(f"You are from {kwargs['city']}!")
g=greeting()
# g.say_hello()
g.say_hello(name="Anvi", age=21, city="kajany")

Hello Anvi!
you are 21years old!
You are from kajany!

## encapsulation

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name =company_name
    self._company_id=company_id

c=company("TCS",91)
print(c._company_id)

 #print(c.__company_name) we can't print two underscore variable !

91

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name=company_name
    self.company_id=company_id

  def get_company_name(self):
    print(self.__company_name)

c1 = company("TCS",91)
c1.get_company_name() # we can simply acccess now

TCS

In [ ]:
class bankaccount:
  def __init__(self, account_number, balance):
    self.__account_number = account_number
    self.__balance = balance


  def deposite(self, amount):#depositing
    if amount>0:
      self.__balance +=amount
      print(f"Deposited {amount}.\n New balance: {self.__balance}\n")
    else:
      print("Invalid deposit error")


  def withdrawel(self,amount):#withdrawing
    if amount>0:
      self.__balance -=amount
      print(f"withdrawn {amount}.\n New balance: {self.__balance}")
    else:
      print("Invalid deposit error")
  def get_balance(self):
    return self.__balance

account = bankaccount("12345", 1000)
account.deposite(500)

account.withdrawel(1000)

Deposited 500.
 New balance: 1500

withdrawn 1000.
 New balance: 500

Design a Student class with:

Private attributes: __name, __grades (a list)

Method to add grade: add_grade(grade)

Method to get average grade: get_average()

Prevent direct access to the grades list from outside the class.

In [ ]:
class student:
  def __init__(self,name,grade):
    self.__name=name
    self.__grade=[]

  def add_grade(self,grade):
    self.__grade.append()

  def get_average(self,grade):
    print(sum(self.__grade) / len(self.__grade))

  def get_name(self):
      return self.__name


s= Student("Asna")
s.add_grade(90)
s.add_grade(45)
s.add_grade(92)
s.add_grade(70)

print(f"Student Name: {s.get_name()}")
print(f"Average Grade: {s.get_average()}")

NameError: name 'Student' is not defined

Create an Employee class with:

Protected attribute: _salary

Private attribute: __bonus

Method to calculate total salary: get_total_compensation()

Method to set bonus, only if salary > 50,000

Challenge: Make sure __bonus can't be set directly and raises an error if conditions aren't met.

In [ ]:
class employee:

  def get_total_compensation(self,salary):
    self._salary=salary
    print(self._salary)

  def bonus(self,salary,bonus):
    self.__bonus=bonus
    if self._salary > 50000:
      print(self._salary+self.__bonus)

    else:
      print("no bonus")

e=employee()
e.get_total_compensation(15000)
e.bonus(15000,500)

Create a Car class:

Private attribute: __speed

Method to accelerate(amount)

Method to decelerate(amount)

Method to get_speed()

Speed should never go below 0 or above 200 km/h.

In [ ]:
class car:
  def __init__(self, initial_speed=0):
    self.__speed = initial_speed

  def accelerate(self, amount):
    self.__speed += amount
    if self.__speed > 200:
      self.__speed = 200

  def decelerate(self, amount):
    self.__speed -= amount
    if self.__speed < 0:
      self.__speed = 0

  def get_speed(self):
    return self.__speed

c = car(30)
print(f"Initial speed: {c.get_speed()} km/h")

c.accelerate(50)
print(f"After accelerating by 50 km/h: {c.get_speed()} km/h")

c.decelerate(30)
print(f"After decelerating by 30 km/h: {c.get_speed()} km/h")

c.accelerate(200)
print(f"After accelerating by 200 km/h: {c.get_speed()} km/h")

c.decelerate(300)
print(f"After decelerating by 300 km/h: {c.get_speed()} km/h")

Create a User class:

Private attribute: __password

Use @property and @setter to manage password:

When setting a password, ensure its at least 8 characters.

When getting, return "****" (never show the actual password)

In [ ]:
class User:
  def __init__(self, password):
    self.password=password
  def show_password(self):
    print("****")
  def set_password(self, value):
    if len(value) >= 8:
      self.__password = value
      print("Password set successfully.")
    else:
      print("Password must be at least 8 characters long.")

u = User("abcdefgh")
u.set_password("abcdefgh")
u.show_password()

In [ ]:
class course:
  def __init__ (self,title,students):
    self.__title=title
    self.__students=[]

  def get_title(self):
      return self.__title

  def add_student(self,students):
    self.__students.append(students)

  def remove_student(self,students):
    self.__students.remove(students)

  def get_students(self):
    return self.__students.copy()

c=course ("data science", [])
print(f"the course is : {c.get_title()}")
c.add_student("anvi")
c.add_student("aswani")
c.add_student("ardra")
print(c.get_students())

c.remove_student("ardra")
print(c.get_students())

the course is : data science
['anvi', 'aswani', 'ardra']
['anvi', 'aswani']

## Abstract method

In [ ]:
from abc import ABC,abstractmethod
class Vehicle(ABC): # abstract class

 @abstractmethod
 def start_engine(self):
  pass #abstact method with no implementation

 @abstractmethod
 def stop_engine(self):
  pass # abstract method with no implementataion

class car(Vehicle): #child class of vehicle

  def start_engine(self): # also we need to create same (function) in child class otherwise it will show error
    print("car engine started")

  def stop_engine(self): # also we need to create same (function) in child class otherwise it will show error
    print("car engine stopped")
car = car()
car.start_engine()
car.stop_engine()

car engine started
car engine stopped

In [ ]:
from abc import ABC , abstractmethod

class shape(ABC):
  @abstractmethod
  def calculate_area(self):
    pass
class circle(shape):
  def __init__(self,radius):
    self.radius=radius

  def calculate_area(self):
    print(f"area of circle is {3.14 * (self.radius) ** 2}")
class rectangle(shape):
  def __init__(self,width,height):
    self.height=height
    self.width=width
  def calculate_area(self):
    print(f"area of rectangle : {self.width * self.height}")

c=circle(10)
r=rectangle(5,10)

c.calculate_area()
print()
r.calculate_area()

area of circle is 314.0

area of rectangle : 50

In [ ]:
from abc import ABC ,abstractmethod

class electronic_device(ABC):
  @abstractmethod
  def start_machine(self):
    pass

class grinder(electronic_device):
  def start_machine(self):
    print("this machine is used grind food")

class telephone(electronic_device):
  def start_machine(self):
    print("this device is used for ongoing and outgoing calls ")

g=grinder()
g.start_machine()
t=telephone()
t.start_machine()

this machine is used grind food
this device is used for ongoing and outgoing calls

## class methods

In [ ]:
class car:
  #class variable
  wheels = 4

  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  @classmethod
  def change_wheels(cls, new_wheels):
    cls.wheels = new_wheels
    print(f"The number of wheels has been updated to {cls.wheels}.")


# create an instance of car
car1 = car("Toyoata","Etios")

# call the class method to modify the class variable
car.change_wheels(6)

print()

# the class variable "wheels" is now changed for all instances
print(f"car variable updated to :{car1.wheels}")

The number of wheels has been updated to 6.

car variable updated to :6

In [ ]:
a=[[1,2],[3,4],[5]]
flat_list = [item for sublist in a for item in sublist]
print(flat_list)

In [ ]:
class mobile:
  camera=1
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model

  @classmethod
  def num_camera(cls,n_camera):
    cls.camera=n_camera
    print(f"the number of camera is updated in :{cls.camera}")

m=mobile("apple","iphone 16 pro")
m.num_camera(3)
print(f"camera is updated to:{m.camera}")

the number of camera is updated in :3
camera is updated to:3

## PRACTICE QUESTIONS

1.Create an abstract class Animal with an abstract method make_sound(). Then, implement two subclasses, Dog and Cat, which override the make_sound() method to print the respective animal sounds. Instantiate both classes and call their make_sound() methods.

In [ ]:
from abc import ABC , abstractmethod

class animal(ABC):
  @abstractmethod
  def make_sound(self):
    pass

class dog(animal):
  def make_sound(self):
    print("the dog barks.....")

class cat(animal):
  def make_sound(self):
    print("the cat meows...")

d=dog()
d.make_sound()
c=cat()
c.make_sound()

the dog barks.....
the cat meows...

Create an abstract class Employee with an abstract method calculate_salary(). Implement two subclasses, FullTimeEmployee and PartTimeEmployee, which calculate salaries based on a fixed monthly salary and an hourly rate, respectively. Instantiate both classes and print their salaries.

In [ ]:
from abc import ABC, abstractmethod

class employee:
  @abstractmethod
  def calculate_salary(self):
    pass
class fulltimeemployee(employee):
  def __init__(self,salary):
    self.salary=salary
  def calculate_salary(self):
    print(f"the salary of full time employee is :{(self.salary/8)* 160 }")

class parttimeemployee(employee):
  def __init__(self,salary):
    self.salary=salary
  def calculate_salary(self):
    print(f"the salary of part time employee is :{(self.salary/8)* 40}")

f=fulltimeemployee(1000)
f.calculate_salary()
p=parttimeemployee(1000)
p.calculate_salary()

the salary of full time employee is :20000.0
the salary of part time employee is :5000.0

Create an abstract class Polygon with an abstract method number_of_sides(). Implement two subclasses, Triangle and Pentagon, which return the respective number of sides. Instantiate both classes and print the number of sides.

In [ ]:
from abc import ABC,abstractmethod
class polygon:
  @abstractmethod
  def number_of_sides(self):
    pass
class triangle(polygon):
  def number_of_sides(self):
    print("number of sides is 3")

class pentagon(polygon):
  def number_of_sides(self):
    print("the number of sides is 5")

t=triangle()
t.number_of_sides()

print()
p=pentagon()
p.number_of_sides()

number of sides is 3

the number of sides is 5

Define a Python class Student with the following private attributes:

__name to store the student's name. __marks to store the student's marks.

In [ ]:
class student:
  def set_name(self,name):
    self.__name = name

  def set_mark(self, mark):
    if mark < 0:
        print("Marks cannot be negative.")
    else:
        self.__mark = mark
  def get_name(self):
    print(self.__name)
  def get_mark(self):
    print(self.__mark)

a=student()
a.set_name("Anvi")
a.set_mark(89)
a.get_name()
a.get_mark()

Anvi
89

Create a class Greeter with a method greet(name) that prints a greeting for the provided name.

In [ ]:
class greeter:
  def greet(self,name):
    print(f"hello, {name}")

g=greeter()
g.greet("beena")

hello, beena

 Develop a class Calculator with methods to add and subtract two numbers.

In [ ]:
class calculator:
  def addition(self,a,b):
    return a+b
  def subtract(self,a,b):
    return a-b
c=calculator()
print(f"sum {c.addition(5,8)}")
print(f"substraction {c.subtract(5,4)}")

sum 13
substraction 1

Build a class Employee with multiple constructors that can initialize an employee object in different ways.

In [ ]:
class employee:
  def __init__(self,name,id,dept):
    self.name=name
    self.id=id
    self.dept=dept

  def display_details(self):
    print(f"Name: {self.name}")
    print(f"ID : {self.id}")
    print(f"Department : {self.dept}")

c=employee("Desani",123,"Robotics")
c.display_details()
print()
c=employee("Nithara",345,"AI")
c.display_details()

Name: Desani
ID : 123
Department : Robotics

Name: Nithara
ID : 345
Department : AI

Design a class SeriesCalculator that calculates the sum of an arithmetic series.

In [ ]:
class SeriesCalculator:
    def calculate_sum(self, n, a=1, d=2):
        return n * (2 * a + (n - 1) * d) // 2
sc = SeriesCalculator()
print("Sum of series:", sc.calculate_sum(4))

Sum of series: 16

Create a class MaxFinder that identifies the largest number in a list.

In [ ]:
class maxfinder:
  def __init__(self,numbers):
    self.numbers=numbers

  def max_num(self):
    print(max(self.numbers))

c=maxfinder([1,2,3,4,5,6])
c.max_num()

6

Design a Rectangle class with default attributes for length and width set to 1. Include methods to set these attributes and calculate the area.

In [ ]:
class rectangle:
  def __init__(self,length=1,width=1):
    self.length=length
    self.width=width

  def set_dimensions(self,length,width):
    self.length=length
    self.width=width
  def area(self):
    print(f"area :{self.length * self.width}")
c=rectangle()
c.area()
c.set_dimensions(5,4)
c.area()

area :1
area :20

Person Class with __str__ Method: Create a Person class with first and last name attributes and override the __str__ method to return the full name.

In [ ]:
class person:
  def __init__(self,firstname,lastname):
    self.firstname=firstname
    self.lastname=lastname

  def __str__(self):
    return f"Name : {self.firstname} {self.lastname}"
p=person("Anjali","suresh")
print(p)

Name : Anjali suresh

Student Grade Calculator: Implement a Student class with attributes for name and a list of marks. Include a method to calculate the average and determine the grade.

In [ ]:
class student:
  def __init__(self,name,marks):
    self.name=name
    self.marks=marks

  def average(self):
    return  sum(self.marks)/len(self.marks)
  def grade(self):
    average=self.average()
    if average> 90:
      return "A"
    elif average >80:
      return "B"
    elif average >70:
      return "C"
    elif average >60:
      return "D"
    else:
      return "FAIL"
c=student("avani",[89,78,90,89,99])
print(f"Average: {c.average()}")
print(f"Grade: {c.grade()}")

Average: 89.0
Grade: B

Calculating Student Results: Develop a class to accept a student's name and marks in three subjects, then calculate and display the total and average marks.

In [ ]:
class student:
  def __init__(self,name,marks):
    self.name=name
    self.marks=marks
  def total(self):
    return sum(self.marks)

  def average(self):
    return sum(self.marks)/len(self.marks)

c=student("wynter",[78,90,89])
print(f"Student: {c.name}")
print(f"Total marks : {c.total()}")
print(f"Average marks : {c.average()}")

Student: wynter
Total marks : 257
Average marks : 85.66666666666667

Car Class: Create a Car class with attributes make, model, and year. Include a method to display the details of the car.

In [ ]:
class car:
  def __init__(self,model,year):
    self.model=model
    self.year=year
  def details(self):
    print(f"Model : {self.model}")
    print(f"Year  : {self.year}")
c=car("cybertruck",2022)
c.details()

Model : cybertruck
Year  : 2022

 Inheritance - Animal Kingdom: Create a base class Animal with a method speak(). Derive two classes Dog and Cat from Animal and override the speak method to reflect their sounds.

In [ ]:
class animal:
  def speak(self):
    print("animals make different sounds to communicate.......")

class dog(animal):
  def speak(self):
    print("the dog is barking........")
class cat(animal):
  def speak(self):
    print("the cat is meowing ......")
a=animal()
a.speak()
d=dog()
d.speak()
c=cat()
c.speak()

animals make different sounds to communicate.......
the dog is barking........
the cat is meowing ......

Polymorphism with a Function: Create a function describe_pet that takes an object of Animal and calls its speak method, demonstrating polymorphism.

In [ ]:
class animal:
  def speak(self):
    print("asdfghjklpoiouytre")

class snake(animal):
  def speak(self):
    print("ZZZzzzzzz")

class cow(snake):
  def speak(self):
    print("blaaaaaaaa")

class dog(cow):
  def speak(self):
    print("Bowwww")
def describe_pet(animal):
    animal.speak()
s=snake()
c=cow()
d=dog()

describe_pet(s)
describe_pet(c)
describe_pet(d)

ZZZzzzzzz
blaaaaaaaa
Bowwww

## iterator

In [ ]:
a="banana"
b=iter(a)
print(next(b))
print(next(b))
print(next(b))
print(next(b))
print(next(b))
print(next(b))

b
a
n
a
n
a

In [ ]:
a=("apple","banana","cherry")
for x in a:
  print(x)

apple
banana
cherry

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a=1
    return self
  def __next__(self):
    x=self.a
    self.a+=1
    return x
myclass=MyNumbers()
myiter=iter(m)
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [ ]:
def greeting():
  print('hi')
  yield 1
  print('how are you')
  yield 2
  print('are you there')
  yield 3
messenger=greeting()
result=next(messenger)
print(result)
result=next(messenger)
print(result)
result=next(messenger)
print(result)

hi
1
how are you
2
are you there
3

## multithreading

In [ ]:
import threading
def task():
  print ("Thread running")

thread= threading.Thread(target=task)
thread.start()
thread.join()

Thread running

multiple threads

In [ ]:
import threading
def task1():
 print("task 1")

def task2():
  print("task 2")

t1=threading.Thread(target=task1)
t2=threading.Thread(target=task2)

t1.start()
t2.start()

t1.join()
t2.join()

task 1
task 2

In [ ]:
import threading
def print_numbers():
  for i in range(5):
    print(i)

thread=threading.Thread(target=print_numbers)
thread.start()
thread.join()

0
1
2
3
4

In [ ]:
import threading
import time

def download_file(file):
  print(f"Sownloading{file}...")
  time.sleep(2)
  print(f"{file}downloaded.")

files=["file1.txt","file2.txt","file3.txt"]
threads=[threading.Thread(target=download_file,args=(f,))for f in files]
for t in threads:
  t.start()
for t in threads:
  t.join()

Sownloadingfile1.txt...
Sownloadingfile2.txt...
Sownloadingfile3.txt...
file1.txtdownloaded.file2.txtdownloaded.

file3.txtdownloaded.

using threads as arguments

In [ ]:
import threading
def greet(name):
  print(f"hello,{name}!")

thread=threading.Thread(target=greet , args=("alice",))
thread.start()
thread.join()

hello,alice!

In [ ]:
import threading
import time
# Function for the chef's work (Thread 1)
def chef_work():
    for i in range(5):  #chef prepares 5 dishes
        print(f"Chef: Preparing dish {i + 1}....")
        time.sleep(2)  #simulate time taken to prepare a dish
        if i == 2:  #assistant starts washing utensils during the 3rd dish
            print("Chef: Calling assistant to wash utensils.")
            time.sleep(1)  #simulate time taken to call the assistant
            assistant_thread = threading.Thread(target=assistant_work)
            assistant_thread.start()
            assistant_thread.join()  #wait for the assistant to finish
            print("Chef: Assistant done. Resuming dish preparation.")
    print("Chef: All dishes are prepared.")

# Function for the assistant's work (Thread 2)
def assistant_work():
    for j in range(3):  # Assistant washes 3 utensils
        print(f"  Assistant: Washing utensil {j + 1}...")
        time.sleep(2)  # Simulate time taken to wash each utensil
    print("  Assistant: All utensils are clean.")

print("Kitchen: Starting work.")
chef_thread = threading.Thread(target=chef_work)
chef_thread.start()
chef_thread.join()  # Wait for the chef to complete their work
print("Kitchen: All work completed.")

Kitchen: Starting work.
Chef: Preparing dish 1....
Chef: Preparing dish 2....
Chef: Preparing dish 3....
Chef: Calling assistant to wash utensils.
  Assistant: Washing utensil 1...
  Assistant: Washing utensil 2...
  Assistant: Washing utensil 3...
  Assistant: All utensils are clean.
Chef: Assistant done. Resuming dish preparation.
Chef: Preparing dish 4....
Chef: Preparing dish 5....
Chef: All dishes are prepared.
Kitchen: All work completed.

Write a Python program using threading to simulate music playback and lyrics downloading:

Music playback runs in one thread for 5 seconds, printing a message each second. During the 3rd second, a separate thread starts to simulate downloading lyrics, which takes 3 seconds. Ensure the music playback waits for the lyrics to finish downloading before continuing.

Output

Music Player: Starting music playback. Music Player: Playing music... 1 seconds Music Player: Playing music... 2 seconds Music Player: Playing music... 3 seconds Music Player: Downloading lyrics in the background. Downloading lyrics... 1 seconds Downloading lyrics... 2 seconds Downloading lyrics... 3 seconds Lyrics download completed. Music Player: Lyrics downloaded. Music Player: Playing music... 4 seconds Music Player: Playing music... 5 seconds Music Player: Playback ended

In [ ]:
import threading
import time
def music_player():
  for i in range(5):
    print(f"Music player:playing music {i + 1}....")
    time.sleep(2)
    if i == 2:
      print(f"Music Player: Downloading lyrics in the background.")
      time.sleep(3)
      download_thread = threading.Thread(target=download)
      download_thread.start()
      download_thread.join()
def download():
  for j in range(3):
     print(f"Music Player: Lyrics downloaded {j + 1}....")
     time.sleep(2)
print("Music Player: Starting music playback.")
chef_thread = threading.Thread(target=music_player)
chef_thread.start()
chef_thread.join()
print(" Music Player: Playback ended")

Music Player: Starting music playback.
Music player:playing music 1....
Music player:playing music 2....
Music player:playing music 3....
Music Player: Downloading lyrics in the background.
Music Player: Lyrics downloaded 1....
Music Player: Lyrics downloaded 2....
Music Player: Lyrics downloaded 3....
Music player:playing music 4....
Music player:playing music 5....
 Music Player: Playback ended

## Exception handling

In [ ]:
try:
  num=int(input("enter the number:"))
  result=10/num
except ZeroDivisionError:
  print("cannot divide by zero!")
except ValueError:
  print("please enter yhe valid number!")
else:
  print("division successful! Result:",result)
finally:
  print("this block always runs")

enter the number:1
division successful! Result: 10.0
this block always runs

In [ ]:
try:
  x=int(input("enter a number:"))
  y=10/x
  print(y)
except ZeroDivisionError:
  print("cannot divide by zero")

enter a number:0
cannot divide by zero

In [ ]:
try:
  x=int(input("enter the nymber"))
  y=10/x
except ZeroDivisionError as e:
  print(e)

enter the nymber0
division by zero

In [ ]:
try:
  print(a) # this is not defined and it will show error
except:
  print("error occured") #but there is except keyword that's why

error occured

In [ ]:
try:
  print(a)
except:
  print("error occured")
print("hello world")

error occured
hello world

In [ ]:
try:
  result=10/2
except ZeroDivisionError:
  print("error")
else:
  print("result",result)

result 5.0

In [ ]:
try:
  file=open("data.txt","r")
except FileNotFoundError:
  print("file not found!")
finally:
  print("end of program")

file not found!
end of program

In [ ]:
try:
  open("nonexistnt_file.txt")
except FileNotFoundError as e:
  print(e)

[Errno 2] No such file or directory: 'nonexistnt_file.txt'

In [ ]:
age=int(input("enter your age"))
if age<0:
  raise ValueError("age cannot be negative")
else:
  print(f"your age is {age}")
print("not try exccept")

enter your age-1

ValueError: age cannot be negative

In [ ]:
try:
  age = int(input("Enter your age:"))
  if age<0:
    raise ValueError("Age cannot be negative")
  else:
    print(f"Your age is{age}")
except ValueError as e:
  print(e)
print("try except finished")

Enter your age:-1
Age cannot be negative
try except finished

In [ ]:
class InvalidAgeException(Exception):
  "Raised when the input value is less than 18"
  pass
# yout need to guess this number
number=18
try:
  input_num = int(input("Enter a number: "))
  if input_num < number:
    raise InvalidAgeException
  else:
    print("Eligible to Vote")
except InvalidAgeException:
  print("Exception Occurred : Invalid Age")

Enter a number: 2
Exception Occurred : Invalid Age

## File handling

In [ ]:
file = open("example.txt", "r")
content = file.read()
print(content)
file.close()

Hello, World!
 New line added
 New line added

In [ ]:
file = open("example.txt", "w")
file.write("Hello, World!")
file.close()

In [ ]:
file=open("example.txt","a")
file.write("\n New line added")
file.close()

In [ ]:
with open("example.txt","r") as file:
  content=file.read()
  print(content)

Hello, World!
 New line added
 New line added

In [ ]:
import os
if os.path.exists("example.txt"):
  print("file exists")
else:
  print("file does not exists")

file exists

In [ ]:
import os
os.remove("example.txt")

## Regular Expression

In [ ]:
import re
match =re.search(r'world','hello world')
if match:
  print("found:",match.group())

found: world

In [ ]:
result=re.findall(r'\d+','there are 12 apples and 34 oranges')
print(result)

['12', '34']

In [ ]:
text= re.sub(r'\d+','NUM','There are 3 cats and 4 dogs')
print(text)

There are NUM cats and NUM dogs

In [ ]:
parts = re.split(r'\s+', 'Split this   sentence by whitespace')
print(parts)

['Split', 'this', 'sentence', 'by', 'whitespace']

In [ ]:
re.search("\\d", "123")

In [ ]:
re.search(r"\d", "123")

In [ ]:
pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
email = "test@example.com"
if re.match(pattern, email):
    print("Valid email")

Valid email

In [ ]:
import re
txt="the rain in  spain"
x=re.findall('ai',txt)
print(x)

['ai', 'ai']

In [ ]:
txt="The rain in Spain"
x=re.findall("Portugal",txt)
print(x)
if(x):
  print("yes,there is atleast one match")
else:
  print("no match")

[]
no match

In [ ]:
import re
txt="The rain in spain"
x=re.search("\s",txt)
print("the first white-space character is located in position",x.start())

the first white-space character is located in position 3

In [ ]:
#split the string only at the first occurance
import re
txt="The rain in spain"
x=re.split("\s",txt,1)
print(x)

['The', 'rain in spain']

In [ ]:
#replace all white-space characters with digit "9":
txt="the rain in spain"
x=re.sub("\s","9",txt)
print(x)

the9rain9in9spain

In [ ]:
#replace the first two occurances
import re
txt="the rain in spain"
x=re.sub("\s","9",txt,2)
print(x)

the9rain9in spain

In [ ]:
import re
txt="the rain in Spain"
x=re.search(r"\bS\w+",txt)
print(x.span())

(12, 17)

validate an email address

In [ ]:
import re
def validate(email):
  pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
  if re.match(pattern, email):
    print("It is a valid email.")
  else:
    print("It is an invalid email.")
validate("aiswarya@gmail.com")

It is a valid email.

Input: "Hello world! Welcome to the world of Python."

Replace "world" with "universe".

Output: "Hello universe! Welcome to the universe of Python."

In [ ]:
import re
text ="Hello world! Welcome to the world of Python."
new_text =re.sub(r"world", "universe", text)
print(new_text)

Hello universe! Welcome to the universe of Python.

Write a Python program that extracts all valid phone numbers from a text. Assume valid phone numbers are of the format (XXX) XXX-XXXX or XXX-XXX-XXXX.

In [ ]:
import re
text = "Call us at (123) 456-7890 or 987-654-3210."
pattern =r'\(?\d{3}\)?[-.\s]?\d{3}[-.\s]?\d{4}'
phone_numbers = re.findall(pattern, text)
print(phone_numbers)

['(123) 456-7890', '987-654-3210']

 Count the Number of Vowels in a String

In [ ]:
import re
def count_vowels(text):
  pattern = r'[aeiouAEIOU]'
  return len(re.findall(pattern, text))
print(count_vowels("Hello World"))

3

Extract Dates in DD/MM/YYYY Format
Write a Python program that extracts all dates in the format DD/MM/YYYY from a given text.

In [ ]:
import re
def extract_dates(text):
  pattern = r'\b\d{2}/\d{2}/\d{4}\b'
  return re.findall(pattern, text)
text = "The event is on 12/05/2023, and the deadline is 20/06/2023."
print(extract_dates(text))

['12/05/2023', '20/06/2023']

 Extract All Words Starting with a Specific Letter
Write a Python program that extracts all words starting with a specific letter (e.g., s) from a given sentence using regular expressions.

Example:

Input: "She sells seashells by the seashore"

Output: ['She', 'sells', 'seashells', 'seashore']

In [ ]:
import re
txt="She sells seashells by the seashore"
pattern= r'\b[Ss]\w*\b'
words_s = re.findall(pattern, txt)
print(words_s)

['She', 'sells', 'seashells', 'seashore']

Write a Python program that validates if a given password is strong. A strong password is one that:

Has at least 8 characters.

Contains both uppercase and lowercase characters.

Has at least one digit.

Contains at least one special character (e.g., @, #, $).

In [ ]:
import re
def validate(password):
  pattern=r'[a-zA-Z0-9#@!$%&*]'
  if len(password)<8:
    print("not valid as password should have least 8 characters")
  elif re.match(pattern,password):
    print("its a valid password...")
  else:
    ("invalid password")
validate("Ais")

not valid as password should have least 8 characters

Write a program that extracts all words ending with a given letter (e.g., e) from a sentence.

Input: "Nice people smile and care"
Output: ['Nice', 'people', 'smile', 'care']

In [ ]:
import re
text="Nice people smile and care"
letter='e'
words=re.findall(rf'\b\w*{letter}\b', text, re.IGNORECASE)
print(words)

['Nice', 'people', 'smile', 'care']

Extract Words with a Specific Length
Input: "These apples taste great and juicy"
Length: 5

In [ ]:
import re
txt="These apples taste great and juicy"
length=5
words=re.findall(rf'\b\w{{{length}}}\b',txt)
print(words)

['These', 'taste', 'great', 'juicy']

 Extract Capitalized Words..........
Input: "Alice and Bob went to New York"

In [ ]:
import re
txt="Alice and Bob went to New York"
pattern=re.findall(rf'\b[A-Z][a-z]*\b',txt)
print(pattern)

['Alice', 'Bob', 'New', 'York']

Extract Words Containing a Substring---------
Input: "I am singing while walking and running"---
Substring: 'ing'

In [ ]:
import re
txt="I am singing while walking and running"
substring="ing"
pattern=re.findall(rf'\b\w*{substring}\w*\b',txt)
print(pattern)

['singing', 'walking', 'running']

Extract words that are made up of only vowels (a, e, i, o, u).

Input: "I owe you an idea of aura"
Output: ['I', 'owe', 'you', 'a', 'aura']

In [ ]:
import re

text = "i owe you an idea of aeiou"

# Match words containing at least one vowel
vowel_words = re.findall(r'\b\w*[aeiouAEIOU]\w*\b', text)

print(vowel_words)

['i', 'owe', 'you', 'an', 'idea', 'of', 'aeiou']