Print first 10 natural numbers using while loop

In [ ]:
i=0
while i<10:
  i+=1
  print(i)

1
2
3
4
5
6
7
8
9
10

 Print the following pattern

In [ ]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Calculate sum of all numbers from 1 to a given number

In [ ]:
s=0
for i in range (1,11):
  s=s+i
print("sum of numbers",s)

sum of numbers 55

Print multiplication table of a given number

In [ ]:
i=0
while i<20:
  i+=2
  print(i)

2
4
6
8
10
12
14
16
18
20

Display numbers from a list using a loop

In [ ]:
numbers=[12, 75, 150, 180, 145, 525, 50]
for i in numbers:
  if i> 500:
      break
  elif i > 150:
      continue
  elif i%5 == 0:
      print(i)

75
150
145

 Count the total number of digits in a number

In [ ]:
n=75869
count=0
while n!=0:
  count=count+1
  n=n//10
print("total number of digits",count)

total number of digits 5

Print the following pattern

In [ ]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Print list in reverse order using a loop

In [ ]:
list1=[10,20,30,40,50]
list2=reversed(list1)
for i in list2:
  print(i)

50
40
30
20
10

Display numbers from -10 to -1 using for loop

In [ ]:

for i in range(-11,-1):
  i+=1
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

 Display a message “Done” after the successful execution of the for loop

In [ ]:
for i in range(5):
    print(i)
print("done")

0
1
2
3
4
done

Print all prime numbers within a range

In [ ]:
start = 25
end = 50
for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

29
31
37
41
43
47

Display Fibonacci series up to 10 terms

In [ ]:
num1, num2 = 0, 1
print("Fibonacci sequence:")
for i in range(10):
    print(num1, end="  ")
    res = num1 + num2
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

Find the factorial of a given number

In [ ]:
num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

Reverse a integer number

In [ ]:
num = 76542
reverse = 0
while num > 0:
    reminder = num % 10
    reverse= (reverse* 10) + reminder
    num = num // 10
print("Revere Number ", reverse)

Revere Number  24567

Calculate the cube of all numbers from 1 to a given number

In [ ]:
num=5
for i in range(1,6+1):
  print(i*i*i)
  i+=1

1
8
27
64
125
216

Find the sum of a series of a number up to n terms

Print the following pattern

In [ ]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

create multiplication table in python

In [ ]:
for i in range(1, 5):
  print('multiplication of:', i)
  for j in range(1, 11):
    print(f" {i * j}", end="")
  print()

multiplication of: 1
 1 2 3 4 5 6 7 8 9 10
multiplication of: 2
 2 4 6 8 10 12 14 16 18 20
multiplication of: 3
 3 6 9 12 15 18 21 24 27 30
multiplication of: 4
 4 8 12 16 20 24 28 32 36 40

 Print the alternate numbers pattern

In [ ]:
rows = 5
num = 1
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(num, end=" ")
        num += 1
    print("")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

 Find largest and smallest digit in a number

In [ ]:
num = 123456789
num_str = str(num)
largest_digit = max(num_str)
smallest_digit = min(num_str)
print("Largest :", largest_digit)
print("Smallest :", smallest_digit)

Largest : 9
Smallest : 1

In [ ]:
text = "This is a sentence with several words of varying lengths"
words = text.split()
largest_word = ""
for word in words:
  if len(word) > len(largest_word):
    largest_word = word
print("The largest word is:", largest_word)

In [ ]:
def is_palindrome(s):
  # Use slicing with a step of -1 to reverse the string
  return s == s[::-1]

# Get input from the user
input_string = input("Enter a string: ")

# Test the function with user input
if is_palindrome(input_string):
  print(f"'{input_string}' is a palindrome.")
else:
  print(f"'{input_string}' is not a palindrome.")